# Local Database Configuration Template
# Sesuaikan 'username', 'password', dan 'port' dengan instalasi PostgreSQL lokal masing-masing
DATABASE_URL="postgresql://postgres:password@localhost:5432/shark_db?schema=public"
# Ganti ke public url
NEXT_PUBLIC_API_URL="http://localhost:3001/api"
